@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Protótipo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index" class="col-md-5 mx-auto">

        <div class="p-2">
            <label for="texto">&nbsp;</label>
            <textarea class="form-control" id="texto" ></textarea>
        </div>


        <div class="row">

            <div class="col-md-6">
                <label class="col-form-label">Primeiro Numero</label>
                <input type="number" id="n1" name="n1" step=".0001" size="10" class="form-control" />
            </div>


            <div class="col-md-6">
                <label class="col-form-label">Segundo Numero</label>
                <input type="number" id="n2" name="n2" step=".0001" size="10" class="form-control" />
            </div>
        </div>




        <input type="hidden" name="sinal" id="sinal" value="" />

        <div class="p-2 mx-auto">
            <div class="row">
                <button class="btn btn-danger m-2 btn-block col" type="button" id="adicionarmais" onclick="adicionar(this.id)">+</button>
                <button class="btn btn-danger m-2 btn-block col" type="button" id="adicionarmenos" onclick="adicionar(this.id)">-</button>
                <button class="btn btn-danger m-2 btn-block col" type="button" id="adicionarmultiplicar" onclick="adicionar(this.id)">*</button>
                <button class="btn btn-danger m-2 btn-block col" type="button" id="adicionardividir" onclick="adicionar(this.id)">/</button>
            </div>
        </div>

        <div class="p-2 mx-auto">
            <div class="row">
                <button type="submit" class="btn btn-primary m-2 btn-block btn-lg">Submeter</button>
            </div>
        </div>

        <hr />
        @ViewBag.Name

    </form>
    <script type="text/javascript">
        function adicionar(id) {
            var origem = document.getElementById(id).innerHTML;
            document.getElementById("sinal").value = origem;
            return false;
        }

        $(document).ready(function (e) {
            $("#n1").on("keyup", function (e) {
                var temp = $(this).val();
                $(this).closest("form").find("textarea").val("Fii");
            }, true);
        });

        

    </script>

</div>


